.content{
  background-color: gainsboro;
  display: flex;
  padding: 20px;
  margin-bottom: 15px;
  justify-content: space-between;
}

.content1 {
  list-style: none;
  display: flex;
  background-color: rgb(174, 174, 240);
  margin: 0;
}


li {  
  margin-right: 10px;
  display: flex;
}

.title {
  margin: 0;
  background-color: rgb(185, 248, 166);
}

.content2{
  background-color: gainsboro;
  display: flex;
  padding: 20px;
}