/**************************
detail.html
**************************/
/* breadcrumbs */
.breadcrumbs {
  display: flex;
  justify-content: flex-end;
  color: var(--grey-700);
}

.breadcrumbs > ul {
  display: flex;
}

.breadcrumbs li {
  position: relative;
  margin-right: 20px;
  font-size: var(--font-small);
  font-weight: 300;
}

.breadcrumbs li:hover > a {
  text-decoration: underline;
}

.breadcrumbs li:not(:last-child):after {
  position: absolute;
  width: 6px;
  height: 6px;
  margin-top: -4px;
  content: '';
  border-top: 1px solid var(--grey-700);
  border-right: 1px solid var(--grey-700);
  top: 50%;
  right: -12px;
  transform: rotate(45deg);
}

.breadcrumbs li:last-child {
  margin-right: 0;
}
