/**************************
list.html
**************************/
.drinks-area + .drinks-area {
  margin-top: 60px;
}

/* drinks-title-wrap */
.drinks-title-wrap {
  display: flex;
  align-items: center;
  height: 60px;
  margin-bottom: 20px;
  padding: 0 20px;
  background: var(--grey-200);
}

.drinks-title-wrap .drinks-title {
  margin-right: 25px;
  font-size: var(--font-large);
}

.drinks-title-wrap .fa-mug-hot {
  margin-right: 10px;
  color: var(--brown-color);
}

.drinks-title-wrap .drinks-notice {
  font-size: var(--font-small);
}

/* list-grid */
.list-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: 40px 20px;
}

.drinks-name-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.drinks-link {
  display: block;
  height: 260px;
  margin-bottom: 13px;
  overflow: hidden;
}

.drinks-link:hover .drinks-img {
  transform: scale(1.1);
}

.drinks-img {
  height: 100%;
  transition: 0.9s cubic-bezier(0.34, 0.75, 0.58, 1);
  object-fit: cover;
}

.drinks-img.matcha {
  object-position: 0 92%;
}

.drinks-img.latte {
  object-position: 0 63%;
}

.drinks-name-wrap .drinks-name {
  margin-right: 10px;
  line-height: 1;
  text-align: center;
}

.fa-heart {
  cursor: pointer;
}

.far.fa-heart {
  color: var(--grey-600);
}

.fas.fa-heart {
  color: var(--red-color);
}
