@import 'common.css';

/*이미 생성해둔 CSS였어서 reset.css 적용 시 레이아웃이 다소 달라져서 뺐고 부득이하게 *에 스타일을 주었습니다.*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.allContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.bucksContainer {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    border: 1px solid var(--background-login-second-color);
    text-align: center;
}

.title {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: var(--font-size-login-large);
    font-family: 'Dancing Script', cursive;
}

.bucks, .bucksBtn {
    width: 310px;
}

.bucks {
    border: 1px solid var(--background-login-second-color);
    border-radius: 3px;
    background-color: var(--background-login-first-color);
    outline: none;
}

.bucks {
    padding: 12px 10px;
    margin-top: 10px;
}

.bucksBtn {
    padding: 12px 5px;
    margin-top: 12px;
    margin-bottom: 5px;
    border: none;
    border-radius: 10px;
    color: var(--white-color);
    background-color: var(--background-login-third-color);
    font-size: var(--font-size-login-medium);
}

.bucksLink {
    color: var(--blue-color);
    text-decoration: none;
}

.forgetPassword {
    margin-top: 120px;
    font-size: var(--font-size-login-small);
    font-weight: 500;
}
