
@import 'common.css';

/*이미 생성해둔 CSS였어서 reset.css 적용 시 레이아웃이 다소 달라져서 부득이하게 *에 스타일을 주었습니다.*/ 

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    margin: 0;
    padding: 16px;
    background-color: var(--background-main-first-color);
}

.logo > a {
    color: var(--black-color);
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    font-size: var(--font-size-main-large);
}

.allContainer{
    padding: 150px;
    padding-top: 0;
}

.navElement {
    padding: 20px;
    color: var(--gray-nav-color);
    font-size: var(--font-size-main-medium);
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

.listImage {
    width: 100%;
    height: 280px;
    object-fit: cover;
    object-position: 45% 60%;
}

.listImage:hover {
    transform: scale(1.1);
    transition: transform .5s ease;
    cursor: pointer;
}

.banner1, .banner2 {
    width: 100%;
    padding: 25px;
    background-color: var(--background-main-first-color);
    font-size: var(--font-size-main-medium);
    font-weight: 500;
}

.banner1 {
    margin-top: 20px;
}

.banner2 {
    margin: 0;
}

.banner1 > i, .banner_2 > i, .banner1 > .noticeText, .banner2 > .noticeText {
    margin-right: 5px;
    margin-left: 5px;
}

.banner1 > i, .banner2 > i {
    color: var(--brown-color);
}

.fa-heart:hover {
    cursor: pointer;
}

.fas.fa-heart {
    color:var(--red-color);
}

.fa-heart {
    color: var(--gray-icon_color);
  }
  

.coffeeList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.grid > p {
    margin-top: 15px;
    padding-right: 10px;
    padding-bottom: 30px;
    text-align: center;
}

.grid > p > i {
    padding-left: 10px;
}



    
    